{% extends 'layouts/base_background.html' %}
{% load static %}
{% block title %} TeamSynth {% endblock title %}
{% block header %} {% endblock header %}
{% block body %} class="index-page bg-gray-200" {% endblock body %}
{% block content %}
<!-- -------- START HEADER 1 w/ text and image on right ------- -->
<section class="py-7">
  <div class="container">
    <div class="row justify-space-between py-10">
      <div class="col-lg-4 mx-auto">
        <form action="{% url 'teams' %}" method="post">
          {% csrf_token %}
          <div class="input-group input-group-dynamic">
            <label class="form-label" for="number_of_members">Number of Team Members</label>
            <input type="text" class="form-control" name="number_of_members" id="number_of_members">
          </div>  
        </form>
      </div>
    </div>
  </div>
</section>
<!-- -------- END HEADER 1 w/ text and image on right ------- -->
{% endblock content %}
{% block footer %} {% endblock footer %}
{% block javascripts %}
<!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
<script src="{% static 'js/plugins/countup.min.js' %}"></script>
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
<script src="{% static 'js/plugins/prism.min.js' %}"></script>
<script src="{% static 'js/plugins/highlight.min.js' %}"></script>
<!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
<script src="{% static 'js/plugins/rellax.min.js' %}"></script>
<!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
<script src="{% static 'js/plugins/tilt.min.js' %}"></script>
<!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
<script type="text/javascript">
  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>
{% endblock javascripts %}
